{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://sprint-project-1196140422.ap-northeast-2.elb.amazonaws.com/sb/monew","description":"Generated server url"}],"tags":[{"name":"뉴스 기사 관리","description":"뉴스 기사 관련 API"},{"name":"알림 관리","description":"알림 관련 API"},{"name":"관심사 관리","description":"관심사 관련 API"},{"name":"댓글 관리","description":"댓글 관련 API"},{"name":"사용자 관리","description":"사용자 관련 API"},{"name":"사용자 활동 내역 관리","description":"사용자 활동 내역 관련 API"}],"paths":{"/api/users":{"post":{"tags":["사용자 관리"],"summary":"회원가입","description":"새로운 사용자를 등록합니다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegisterRequest"}}},"required":true},"responses":{"409":{"description":"이메일 중복","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"201":{"description":"회원가입 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/users/login":{"post":{"tags":["사용자 관리"],"summary":"로그인","description":"사용자 로그인을 처리합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"401":{"description":"로그인 실패 (이메일 또는 비밀번호 불일치)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/interests":{"get":{"tags":["관심사 관리"],"summary":"관심사 목록 조회","description":"조건에 맞는 관심사 목록을 조회합니다.","operationId":"search","parameters":[{"name":"keyword","in":"query","description":"검색어(관심사 이름, 키워드)","required":false,"schema":{"type":"string"},"example":"스포츠"},{"name":"orderBy","in":"query","description":"정렬 속성 이름","required":true,"schema":{"type":"string","enum":["name","subscriberCount"]}},{"name":"direction","in":"query","description":"정렬 방향 (ASC, DESC)","required":true,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"cursor","in":"query","description":"커서 값","required":false,"schema":{"type":"string"}},{"name":"after","in":"query","description":"보조 커서(createdAt) 값","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"커서 페이지 크기","required":true,"schema":{"type":"integer","format":"int32"},"example":50},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"잘못된 요청 (정렬 기준 오류, 페이지네이션 파라미터 오류 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseInterestDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseInterestDto"}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseInterestDto"}}}}}},"post":{"tags":["관심사 관리"],"summary":"관심사 등록","description":"새로운 관심사를 등록합니다.","operationId":"register_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestRegisterRequest"}}},"required":true},"responses":{"201":{"description":"등록 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"409":{"description":"유사 관심사 중복","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}}}}},"/api/interests/{interestId}/subscriptions":{"post":{"tags":["관심사 관리"],"summary":"관심사 구독","description":"관심사를 구독합니다.","operationId":"subscribe","parameters":[{"name":"interestId","in":"path","description":"관심사 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"관심사 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionDto"}}}},"200":{"description":"구독 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionDto"}}}}}},"delete":{"tags":["관심사 관리"],"summary":"관심사 구독 취소","description":"관심사를 구독을 취소합니다.","operationId":"unsubscribe","parameters":[{"name":"interestId","in":"path","description":"관심사 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"구독 취소 성공"},"404":{"description":"관심사 정보 없음"},"500":{"description":"서버 내부 오류"}}}},"/api/comments":{"get":{"tags":["댓글 관리"],"summary":"댓글 목록 조회","description":"조건에 맞는 댓글 목록을 조회합니다.","operationId":"findAll","parameters":[{"name":"articleId","in":"query","description":"기사 ID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"orderBy","in":"query","description":"정렬 속성 이름","required":true,"schema":{"type":"string","enum":["createdAt","likeCount"]}},{"name":"direction","in":"query","description":"정렬 방향 (ASC, DESC)","required":true,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"cursor","in":"query","description":"커서 값","required":false,"schema":{"type":"string"}},{"name":"after","in":"query","description":"보조 커서(createdAt) 값","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"커서 페이지 크기","required":true,"schema":{"type":"integer","format":"int32"},"example":50},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"잘못된 요청 (정렬 기준 오류, 페이지네이션 파라미터 오류 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseCommentDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseCommentDto"}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseCommentDto"}}}}}},"post":{"tags":["댓글 관리"],"summary":"댓글 등록","description":"새로운 댓글를 등록합니다.","operationId":"register_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRegisterRequest"}}},"required":true},"responses":{"201":{"description":"등록 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}}}}},"/api/comments/{commentId}/comment-likes":{"post":{"tags":["댓글 관리"],"summary":"관심사 댓글 좋아요","description":"댓글 좋아요를 등록합니다.","operationId":"like","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"댓글 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentLikeDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentLikeDto"}}}},"200":{"description":"댓글 좋아요 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentLikeDto"}}}}}},"delete":{"tags":["댓글 관리"],"summary":"댓글 좋아요 취소","description":"댓글 좋아요를 취소합니다.","operationId":"disLike","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"관심사 정보 없음"},"500":{"description":"서버 내부 오류"},"200":{"description":"댓글 좋아요 취소 성공"}}}},"/api/articles/{articleId}/article-views":{"post":{"tags":["뉴스 기사 관리"],"summary":"기사 뷰 등록","description":"기사 뷰를 등록합니다.","operationId":"view","parameters":[{"name":"articleId","in":"path","description":"기사 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"댓글 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleViewDto"}}}},"200":{"description":"기사 뷰 등록 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleViewDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleViewDto"}}}}}}},"/api/users/{userId}":{"delete":{"tags":["사용자 관리"],"summary":"사용자 논리 삭제","description":"사용자를 논리적으로 삭제합니다.","operationId":"delete","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"사용자 삭제 성공"},"404":{"description":"사용자 정보 없음"},"500":{"description":"서버 내부 오류"},"403":{"description":"사용자 삭제 권한 없음"}}},"patch":{"tags":["사용자 관리"],"summary":"사용자 정보 수정","description":"사용자의 닉네임을 수정합니다.","operationId":"update","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"403":{"description":"사용자 정보 수정 권한 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"404":{"description":"사용자 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"200":{"description":"사용자 정보 수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/notifications":{"get":{"tags":["알림 관리"],"summary":"알림 목록 조회","description":"알림 목록을 조회합니다.","operationId":"findAllNotConfirmed","parameters":[{"name":"cursor","in":"query","description":"커서 값","required":false,"schema":{"type":"string"}},{"name":"after","in":"query","description":"보조 커서(createdAt) 값","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"커서 페이지 크기","required":true,"schema":{"type":"integer","format":"int32"},"example":50},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"잘못된 요청 (정렬 기준 오류, 페이지네이션 파라미터 오류 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseNotificationDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseNotificationDto"}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseNotificationDto"}}}}}},"patch":{"tags":["알림 관리"],"summary":"전체 알림 확인","description":"전체 알림을 한번에 확인합니다.","operationId":"confirmAll","parameters":[{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"전체 알림 확인 성공"},"404":{"description":"사용자 정보 없음"},"500":{"description":"서버 내부 오류"},"400":{"description":"잘못된 요청 (입력값 검증 실패)"}}}},"/api/notifications/{notificationId}":{"patch":{"tags":["알림 관리"],"summary":"알림 확인","description":"알림을 확인합니다.","operationId":"confirm","parameters":[{"name":"notificationId","in":"path","description":"알림 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"알림 확인 성공"},"404":{"description":"사용자 정보 없음"},"500":{"description":"서버 내부 오류"},"400":{"description":"잘못된 요청 (입력값 검증 실패)"}}}},"/api/interests/{interestId}":{"delete":{"tags":["관심사 관리"],"summary":"관심사 물리 삭제","description":"관심사를 물리적으로 삭제합니다.","operationId":"hardDelete","parameters":[{"name":"interestId","in":"path","description":"관심사 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"삭제 성공"},"404":{"description":"관심사 정보 없음"},"500":{"description":"서버 내부 오류"}}},"patch":{"tags":["관심사 관리"],"summary":"관심사 정보 수정","description":"관심사의 키워드를 수정합니다.","operationId":"update_1","parameters":[{"name":"interestId","in":"path","description":"관심사 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestUpdateRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"404":{"description":"관심사 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InterestDto"}}}}}}},"/api/comments/{commentId}":{"delete":{"tags":["댓글 관리"],"summary":"댓글 논리 삭제","description":"댓글를 논리적으로 삭제합니다.","operationId":"delete_1","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"삭제 성공"},"404":{"description":"댓글 정보 없음"},"500":{"description":"서버 내부 오류"}}},"patch":{"tags":["댓글 관리"],"summary":"댓글 정보 수정","description":"댓글의 내용을 수정합니다.","operationId":"update_2","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}},"404":{"description":"댓글 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}},"400":{"description":"잘못된 요청 (입력값 검증 실패)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}}}}},"/api/user-activities/{userId}":{"get":{"tags":["사용자 활동 내역 관리"],"summary":"사용자 활동 내역 조회","description":"사용자 ID로 활동 내역을 조회합니다.","operationId":"find","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"사용자 활동 내역 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserActivityDto"}}}},"404":{"description":"사용자 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserActivityDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserActivityDto"}}}}}}},"/api/articles":{"get":{"tags":["뉴스 기사 관리"],"summary":"뉴스 기사 목록 조회","description":"조건에 맞는 뉴스 기사 목록을 조회합니다.","operationId":"search_1","parameters":[{"name":"keyword","in":"query","description":"검색어(제목, 요약)","required":false,"schema":{"type":"string"},"example":"스포츠"},{"name":"interestId","in":"query","description":"관심사 ID","required":false,"schema":{"type":"string","format":"uuid"},"example":"스포츠"},{"name":"sourceIn","in":"query","description":"출처(포함)","required":false,"schema":{"type":"array","items":{"type":"string","enum":["NAVER","HANKYUNG","CHOSUN","YEONHAP"]}}},{"name":"publishDateFrom","in":"query","description":"날짜 시작(범위)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"publishDateTo","in":"query","description":"날짜 끝(범위)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"orderBy","in":"query","description":"정렬 속성 이름","required":true,"schema":{"type":"string","enum":["publishDate","commentCount","viewCount"]}},{"name":"direction","in":"query","description":"정렬 방향 (ASC, DESC)","required":true,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"cursor","in":"query","description":"커서 값","required":false,"schema":{"type":"string"}},{"name":"after","in":"query","description":"보조 커서(createdAt) 값","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"커서 페이지 크기","required":true,"schema":{"type":"integer","format":"int32"},"example":50},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"잘못된 요청 (정렬 기준 오류, 페이지네이션 파라미터 오류 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseArticleDto"}}}},"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseArticleDto"}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CursorPageResponseArticleDto"}}}}}}},"/api/articles/{articleId}":{"get":{"tags":["뉴스 기사 관리"],"summary":"뉴스 기사 단건 조회","description":"뉴스 기사 ID로 뉴스 기사 단건을 조회합니다.","operationId":"getArticle","parameters":[{"name":"articleId","in":"path","description":"뉴스 기사 ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Monew-Request-User-ID","in":"header","description":"요청자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}}},"404":{"description":"뉴스 기사 정보 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticleDto"}}}}}},"delete":{"tags":["뉴스 기사 관리"],"summary":"뉴스 기사 논리 삭제","description":"뉴스 기사를 논리적으로 삭제합니다.","operationId":"delete_2","parameters":[{"name":"articleId","in":"path","description":"뉴스 기사 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"논리 삭제 성공"},"500":{"description":"서버 내부 오류"},"404":{"description":"뉴스 기사 정보 없음"}}}},"/api/articles/sources":{"get":{"tags":["뉴스 기사 관리"],"summary":"출처 목록 조회","description":"출처 목록을 조회합니다.","operationId":"getSources","responses":{"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["NAVER","HANKYUNG","CHOSUN","YEONHAP"]}}}}},"200":{"description":"조회 성공","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["NAVER","HANKYUNG","CHOSUN","YEONHAP"]}}}}}}}},"/api/articles/restore":{"get":{"tags":["뉴스 기사 관리"],"summary":"뉴스 복구","description":"유실된 뉴스 기사를 복구.","operationId":"restore","parameters":[{"name":"from","in":"query","description":"날짜 시작(범위)","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"날짜 끝(범위)","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArticleRestoreResultDto"}}}}},"200":{"description":"복구 성공","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArticleRestoreResultDto"}}}}}}}},"/api/users/{userId}/hard":{"delete":{"tags":["사용자 관리"],"summary":"사용자 물리 삭제","description":"사용자를 물리적으로 삭제합니다.","operationId":"hardDelete_1","parameters":[{"name":"userId","in":"path","description":"사용자 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"사용자 삭제 성공"},"404":{"description":"사용자 정보 없음"},"500":{"description":"서버 내부 오류"},"403":{"description":"사용자 삭제 권한 없음"}}}},"/api/comments/{commentId}/hard":{"delete":{"tags":["댓글 관리"],"summary":"댓글 물리 삭제","description":"댓글를 물리적으로 삭제합니다.","operationId":"hardDelete_2","parameters":[{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"삭제 성공"},"404":{"description":"댓글 정보 없음"},"500":{"description":"서버 내부 오류"}}}},"/api/articles/{articleId}/hard":{"delete":{"tags":["뉴스 기사 관리"],"summary":"뉴스 기사 물리 삭제","description":"뉴스 기사를 물리적으로 삭제합니다.","operationId":"hardDelete_3","parameters":[{"name":"articleId","in":"path","description":"뉴스 기사 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"삭제 성공"},"500":{"description":"서버 내부 오류"},"404":{"description":"뉴스 기사 정보 없음"}}}}},"components":{"schemas":{"UserRegisterRequest":{"type":"object","description":"회원가입 정보","properties":{"email":{"type":"string","description":"가입 이메일"},"nickname":{"type":"string","description":"가입 닉네임","maxLength":20,"minLength":1},"password":{"type":"string","description":"가입 비밀번호","maxLength":20,"minLength":6}},"required":["email","nickname","password"]},"UserDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"사용자 ID"},"email":{"type":"string","description":"이메일"},"nickname":{"type":"string","description":"닉네임"},"createdAt":{"type":"string","format":"date-time","description":"가입한 날짜"}}},"UserLoginRequest":{"type":"object","description":"로그인 정보","properties":{"email":{"type":"string","description":"로그인 이메일"},"password":{"type":"string","description":"로그인 비밀번호"}},"required":["email","password"]},"InterestRegisterRequest":{"type":"object","description":"관심사 정보","properties":{"name":{"type":"string","description":"관심사 이름","maxLength":50,"minLength":1},"keywords":{"type":"array","description":"관련 키워드 목록","items":{"type":"string"},"maxItems":10,"minItems":1}},"required":["keywords","name"]},"InterestDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"관심사 ID"},"name":{"type":"string","description":"관심사 이름"},"keywords":{"type":"array","description":"관련 키워드 목록","items":{"type":"string"}},"subscriberCount":{"type":"integer","format":"int64","description":"구독자 수"},"subscribedByMe":{"type":"boolean","description":"요청자의 구독 여부"}}},"SubscriptionDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"구독 정보 ID"},"interestId":{"type":"string","format":"uuid","description":"관심사 ID"},"interestName":{"type":"string","description":"관심사 이름"},"interestKeywords":{"type":"array","description":"관련 키워드 목록","items":{"type":"string"}},"interestSubscriberCount":{"type":"integer","format":"int64","description":"구독자 수"},"createdAt":{"type":"string","format":"date-time","description":"구독한 날짜"}}},"CommentRegisterRequest":{"type":"object","description":"댓글 정보","properties":{"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"userId":{"type":"string","format":"uuid","description":"요청 사용자 ID"},"content":{"type":"string","description":"내용","maxLength":500,"minLength":1}},"required":["articleId","content","userId"]},"CommentDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"댓글 ID"},"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"userId":{"type":"string","format":"uuid","description":"작성자 ID"},"userNickname":{"type":"string","description":"작성자 닉네임"},"content":{"type":"string","description":"내용"},"likeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"likedByMe":{"type":"boolean","description":"요청자의 좋아요 여부"},"createdAt":{"type":"string","format":"date-time","description":"작성된 날짜"}}},"CommentLikeDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"좋아요 ID"},"likedBy":{"type":"string","format":"uuid","description":"좋아요한 사용자 ID"},"createdAt":{"type":"string","format":"date-time","description":"좋아요한 날짜"},"commentId":{"type":"string","format":"uuid","description":"댓글 ID"},"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"commentUserId":{"type":"string","format":"uuid","description":"작성자 ID"},"commentUserNickname":{"type":"string","description":"작성자 닉네임"},"commentContent":{"type":"string","description":"내용"},"commentLikeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"commentCreatedAt":{"type":"string","format":"date-time","description":"작성된 날짜"}}},"ArticleViewDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"기사 조회 ID"},"viewedBy":{"type":"string","format":"uuid","description":"기사를 조회한 사용자 ID"},"createdAt":{"type":"string","format":"date-time","description":"기사를 본 날짜"},"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"source":{"type":"string","description":"출처","enum":["NAVER","HANKYUNG","CHOSUN","YEONHAP"]},"sourceUrl":{"type":"string","description":"원본 기사 URL"},"articleTitle":{"type":"string","description":"제목"},"articlePublishedDate":{"type":"string","format":"date-time","description":"날짜"},"articleSummary":{"type":"string","description":"요약"},"articleCommentCount":{"type":"integer","format":"int64","description":"댓글 수"},"articleViewCount":{"type":"integer","format":"int64","description":"조회 수"}}},"UserUpdateRequest":{"type":"object","description":"수정할 사용자 정보","properties":{"nickname":{"type":"string","description":"수정 닉네임","maxLength":20,"minLength":1}},"required":["nickname"]},"InterestUpdateRequest":{"type":"object","description":"수정할 관심사 정보","properties":{"keywords":{"type":"array","description":"수정 키워드 목록","items":{"type":"string"},"maxItems":10,"minItems":1}},"required":["keywords"]},"CommentUpdateRequest":{"type":"object","description":"수정할 댓글 정보","properties":{"content":{"type":"string","description":"내용","maxLength":500,"minLength":1}},"required":["content"]},"CommentActivityDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"댓글 ID"},"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"articleTitle":{"type":"string","description":"기사 제목"},"userId":{"type":"string","format":"uuid","description":"작성자 ID"},"userNickname":{"type":"string","description":"작성자 닉네임"},"content":{"type":"string","description":"내용"},"likeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"createdAt":{"type":"string","format":"date-time","description":"작성된 날짜"}}},"CommentLikeActivityDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"좋아요 ID"},"createdAt":{"type":"string","format":"date-time","description":"좋아요한 날짜"},"commentId":{"type":"string","format":"uuid","description":"댓글 ID"},"articleId":{"type":"string","format":"uuid","description":"기사 ID"},"articleTitle":{"type":"string","description":"기사 제목"},"commentUserId":{"type":"string","format":"uuid","description":"작성자 ID"},"commentUserNickname":{"type":"string","description":"작성자 닉네임"},"commentContent":{"type":"string","description":"내용"},"commentLikeCount":{"type":"integer","format":"int64","description":"좋아요 수"},"commentCreatedAt":{"type":"string","format":"date-time","description":"작성된 날짜"}}},"UserActivityDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"사용자 ID"},"email":{"type":"string","description":"이메일"},"nickname":{"type":"string","description":"닉네임"},"createdAt":{"type":"string","format":"date-time","description":"가입한 날짜"},"subscriptions":{"type":"array","description":"구독 정보","items":{"$ref":"#/components/schemas/SubscriptionDto"}},"comments":{"type":"array","description":"최근 작성한 댓글 (최대 10건)","items":{"$ref":"#/components/schemas/CommentActivityDto"}},"commentLikes":{"type":"array","description":"최근 좋아요를 누른 댓글 (최대 10건)","items":{"$ref":"#/components/schemas/CommentLikeActivityDto"}},"articleViews":{"type":"array","description":"최근 본 기사 (최대 10건)","items":{"$ref":"#/components/schemas/ArticleViewDto"}}}},"CursorPageResponseNotificationDto":{"type":"object","description":"커서 기반 페이지 응답","properties":{"content":{"type":"array","description":"페이지 내용","items":{"$ref":"#/components/schemas/NotificationDto"}},"nextCursor":{"type":"string","description":"다음 페이지 커서"},"nextAfter":{"type":"string","format":"date-time","description":"다음 보조 커서(마지막 요소의 생성 시간)","example":"2025-04-06T15:04:05.000Z"},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":10},"totalElements":{"type":"integer","format":"int64","description":"총 요소 수","example":100},"hasNext":{"type":"boolean","description":"다음 페이지 여부","example":true}}},"NotificationDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"알림 ID"},"createdAt":{"type":"string","format":"date-time","description":"생성된 날짜"},"updatedAt":{"type":"string","format":"date-time","description":"확인한 날짜"},"confirmed":{"type":"boolean","description":"확인 여부"},"userId":{"type":"string","format":"uuid","description":"알림 대상 사용자 ID"},"content":{"type":"string","description":"내용"},"resourceType":{"type":"string","description":"관련된 리소스 유형","enum":["interest","comment"]},"resourceId":{"type":"string","format":"uuid","description":"관련된 리소스 ID"}}},"CursorPageResponseInterestDto":{"type":"object","description":"커서 기반 페이지 응답","properties":{"content":{"type":"array","description":"페이지 내용","items":{"$ref":"#/components/schemas/InterestDto"}},"nextCursor":{"type":"string","description":"다음 페이지 커서"},"nextAfter":{"type":"string","format":"date-time","description":"다음 보조 커서(마지막 요소의 생성 시간)","example":"2025-04-06T15:04:05.000Z"},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":10},"totalElements":{"type":"integer","format":"int64","description":"총 요소 수","example":100},"hasNext":{"type":"boolean","description":"다음 페이지 여부","example":true}}},"CursorPageResponseCommentDto":{"type":"object","description":"커서 기반 페이지 응답","properties":{"content":{"type":"array","description":"페이지 내용","items":{"$ref":"#/components/schemas/CommentDto"}},"nextCursor":{"type":"string","description":"다음 페이지 커서"},"nextAfter":{"type":"string","format":"date-time","description":"다음 보조 커서(마지막 요소의 생성 시간)","example":"2025-04-06T15:04:05.000Z"},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":10},"totalElements":{"type":"integer","format":"int64","description":"총 요소 수","example":100},"hasNext":{"type":"boolean","description":"다음 페이지 여부","example":true}}},"ArticleDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"기사 ID"},"source":{"type":"string","description":"출처","enum":["NAVER","HANKYUNG","CHOSUN","YEONHAP"]},"sourceUrl":{"type":"string","description":"원본 기사 URL"},"title":{"type":"string","description":"제목"},"publishDate":{"type":"string","format":"date-time","description":"날짜"},"summary":{"type":"string","description":"요약"},"commentCount":{"type":"integer","format":"int64","description":"댓글 수"},"viewCount":{"type":"integer","format":"int64","description":"조회 수"},"viewedByMe":{"type":"boolean","description":"요청자의 조회 여부"}}},"CursorPageResponseArticleDto":{"type":"object","description":"커서 기반 페이지 응답","properties":{"content":{"type":"array","description":"페이지 내용","items":{"$ref":"#/components/schemas/ArticleDto"}},"nextCursor":{"type":"string","description":"다음 페이지 커서"},"nextAfter":{"type":"string","format":"date-time","description":"다음 보조 커서(마지막 요소의 생성 시간)","example":"2025-04-06T15:04:05.000Z"},"size":{"type":"integer","format":"int32","description":"페이지 크기","example":10},"totalElements":{"type":"integer","format":"int64","description":"총 요소 수","example":100},"hasNext":{"type":"boolean","description":"다음 페이지 여부","example":true}}},"ArticleRestoreResultDto":{"type":"object","properties":{"restoreDate":{"type":"string","format":"date-time","description":"날짜"},"restoredArticleIds":{"type":"array","description":"복구된 기사 ID 목록","items":{"type":"string","format":"uuid"}},"restoredArticleCount":{"type":"integer","format":"int64","description":"복구된 기사 수"}}}}}}